body {
  --box-size: 50px
}

.item {
  cursor: pointer;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  background-color: whitesmoke;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--box-size) - 20px);
}

.container {
  width: calc(var(--box-size) * 3);
  height: calc(var(--box-size) * 3);
  display: flex;
  background-color: gray;
}
